/* line 5, /home/s/debriefing/debrief3/debrief/app/assets/stylesheets/home.scss.erb */
body {
  background-color: #f9f9f9;
  margin: 0;
}

/* line 10, /home/s/debriefing/debrief3/debrief/app/assets/stylesheets/home.scss.erb */
html, body {
  height: 100%;
}

/* line 15, /home/s/debriefing/debrief3/debrief/app/assets/stylesheets/home.scss.erb */
a {
  color: #cb1e1a;
  text-decoration: none;
}

/* line 16, /home/s/debriefing/debrief3/debrief/app/assets/stylesheets/home.scss.erb */
a:hover {
  text-decoration: underline;
}

/* line 17, /home/s/debriefing/debrief3/debrief/app/assets/stylesheets/home.scss.erb */
h1 {
  position: relative;
  letter-spacing: -1px;
  line-height: 40px;
  font-size: 40px;
  font-weight: 100;
  margin: 10px auto 50px;
  text-shadow: 0 1px 0 #fff;
  color: #424242;
  text-align: center;
  display: inline-block;
}

/* line 20, /home/s/debriefing/debrief3/debrief/app/assets/stylesheets/home.scss.erb */
h2 {
  position: relative;
  letter-spacing: -1px;
  line-height: 35px;
  font-size: 30px;
  font-weight: 100;
  margin: 10px auto;
  text-shadow: 0 1px 0 #fff;
  color: #424242;
  text-align: center;
  display: inline-block;
}

/* line 22, /home/s/debriefing/debrief3/debrief/app/assets/stylesheets/home.scss.erb */
h1, h2 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 24, /home/s/debriefing/debrief3/debrief/app/assets/stylesheets/home.scss.erb */
p {
  margin: 20px 0;
}

/* line 25, /home/s/debriefing/debrief3/debrief/app/assets/stylesheets/home.scss.erb */
p, input, label, textarea, li {
  font-family: 'Roboto';
  color: #323232;
}

/* line 27, /home/s/debriefing/debrief3/debrief/app/assets/stylesheets/home.scss.erb */
#titleCont {
  width: 800px;
  margin: 50px auto 0;
}

/* line 30, /home/s/debriefing/debrief3/debrief/app/assets/stylesheets/home.scss.erb */
#login {
  width: 800px;
  margin: auto;
}

/* line 35, /home/s/debriefing/debrief3/debrief/app/assets/stylesheets/home.scss.erb */
#createCont {
  /* background-color:#515151;*/
  width: 800px;
  margin: auto;
}

/* line 40, /home/s/debriefing/debrief3/debrief/app/assets/stylesheets/home.scss.erb */
#notifyCont {
  width: 800px;
  margin: 50px auto 0;
}

/* line 44, /home/s/debriefing/debrief3/debrief/app/assets/stylesheets/home.scss.erb */
#create {
  border-top: 1px black solid;
  width: 42%;
  display: inline-block;
  margin: auto;
  /*width:800px; margin: auto; padding:20px 0 0 0;*/
}

/* line 50, /home/s/debriefing/debrief3/debrief/app/assets/stylesheets/home.scss.erb */
#create_author {
  border-top: 1px black solid;
  width: 42%;
  display: inline-block;
  float: right;
  margin: auto;
}

/* line 54, /home/s/debriefing/debrief3/debrief/app/assets/stylesheets/home.scss.erb */
#uputstvo {
  width: 42%;
  display: inline-block;
  float: right;
  margin: 70px auto;
  font-size: 15px;
}

/* line 58, /home/s/debriefing/debrief3/debrief/app/assets/stylesheets/home.scss.erb */
#uputstvo_notify {
  margin: 20px 0 30px;
}

/* line 59, /home/s/debriefing/debrief3/debrief/app/assets/stylesheets/home.scss.erb */
#updateCont {
  width: 800px;
  margin: 50px auto 0;
}

/* line 63, /home/s/debriefing/debrief3/debrief/app/assets/stylesheets/home.scss.erb */
#form_book {
  border-top: 1px black solid;
  width: 42%;
  display: inline-block;
  margin: auto;
}

/* line 68, /home/s/debriefing/debrief3/debrief/app/assets/stylesheets/home.scss.erb */
#form_author {
  border-top: 1px black solid;
  width: 42%;
  display: inline-block;
  float: right;
  margin: auto;
  position: relative;
}

/* line 74, /home/s/debriefing/debrief3/debrief/app/assets/stylesheets/home.scss.erb */
textarea {
  min-width: 330px;
  min-height: 100px;
  font-weight: 100;
  font-size: 13px;
  padding: 3px;
}

/* line 81, /home/s/debriefing/debrief3/debrief/app/assets/stylesheets/home.scss.erb */
#notify_history {
  margin-top: 10px;
  min-width: 230px;
  min-height: 200px;
}

/* line 87, /home/s/debriefing/debrief3/debrief/app/assets/stylesheets/home.scss.erb */
.dugmad {
  display: inline-block;
  width: 10%;
}

/* line 88, /home/s/debriefing/debrief3/debrief/app/assets/stylesheets/home.scss.erb */
.dugmad input {
  background: #525252;
  font-weight: bold;
  -moz-border-radius: 2px;
  border-radius: 2px;
  bottom: 9px;
  color: #fff;
  border-color: #525252;
  border-style: solid;
  padding: 2px 7px;
  cursor: pointer;
  float: left;
}

/* line 101, /home/s/debriefing/debrief3/debrief/app/assets/stylesheets/home.scss.erb */
ul {
  padding: 0;
}

/* line 102, /home/s/debriefing/debrief3/debrief/app/assets/stylesheets/home.scss.erb */
li {
  list-style: none;
  font-size: 14px;
  margin-bottom: 5px;
}

/* line 103, /home/s/debriefing/debrief3/debrief/app/assets/stylesheets/home.scss.erb */
li:before {
  content: "+";
  margin-right: 4px;
  color: #ff5252;
}

/* line 109, /home/s/debriefing/debrief3/debrief/app/assets/stylesheets/home.scss.erb */
#inform_cont {
  display: flex;
  justify-content: space-between;
}

/* line 111, /home/s/debriefing/debrief3/debrief/app/assets/stylesheets/home.scss.erb */
.levo {
  /*float:left;margin-right:30px;*/
  display: inline;
  width: 170px;
}

/* line 112, /home/s/debriefing/debrief3/debrief/app/assets/stylesheets/home.scss.erb */
.desno {
  /*float:left;*/
  width: 60px;
  display: inline;
}

/* line 113, /home/s/debriefing/debrief3/debrief/app/assets/stylesheets/home.scss.erb */
.desno input {
  width: 50px;
}

/* line 115, /home/s/debriefing/debrief3/debrief/app/assets/stylesheets/home.scss.erb */
#luft {
  height: 300px;
}

/* line 116, /home/s/debriefing/debrief3/debrief/app/assets/stylesheets/home.scss.erb */
#spacer {
  clear: both;
}

/* line 117, /home/s/debriefing/debrief3/debrief/app/assets/stylesheets/home.scss.erb */
#create_mail {
  margin-top: 40px;
}

/* line 120, /home/s/debriefing/debrief3/debrief/app/assets/stylesheets/home.scss.erb */
#select_mail {
  float: right;
  margin-top: 40px;
}

/* line 124, /home/s/debriefing/debrief3/debrief/app/assets/stylesheets/home.scss.erb */
#form_notify {
  width: 50%;
  border-top: 1px solid black;
  display: inline-block;
}

/* line 125, /home/s/debriefing/debrief3/debrief/app/assets/stylesheets/home.scss.erb */
#form_notify textarea {
  min-width: 230px;
}

/* line 126, /home/s/debriefing/debrief3/debrief/app/assets/stylesheets/home.scss.erb */
#form_notify p {
  margin: 5px;
}

/* line 127, /home/s/debriefing/debrief3/debrief/app/assets/stylesheets/home.scss.erb */
#h2_notify {
  display: block;
  text-align: left;
}

/* line 128, /home/s/debriefing/debrief3/debrief/app/assets/stylesheets/home.scss.erb */
#flash {
  margin: auto;
  background-color: #424242;
  color: #ff5252;
  text-align: center;
  padding: 50px 200px;
}

/* line 129, /home/s/debriefing/debrief3/debrief/app/assets/stylesheets/home.scss.erb */
fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

/* line 130, /home/s/debriefing/debrief3/debrief/app/assets/stylesheets/home.scss.erb */
fieldset textarea {
  background-color: #efefef;
  border: 1px solid #cfcfcf;
}

/* line 131, /home/s/debriefing/debrief3/debrief/app/assets/stylesheets/home.scss.erb */
fieldset input {
  background-color: #efefef;
}

/* line 132, /home/s/debriefing/debrief3/debrief/app/assets/stylesheets/home.scss.erb */
fieldset label {
  color: #727272;
}

/* line 133, /home/s/debriefing/debrief3/debrief/app/assets/stylesheets/home.scss.erb */
input, textfield {
  border: 1px solid darkgray;
}

/* line 134, /home/s/debriefing/debrief3/debrief/app/assets/stylesheets/home.scss.erb */
li span {
  font-weight: 600;
}

/* line 136, /home/s/debriefing/debrief3/debrief/app/assets/stylesheets/home.scss.erb */
#sender_cont {
  display: inline-block;
  width: 90px;
  height: 22px;
  overflow: hidden;
  background: url(/assets/drop-dedce2f46b7df74c00afe26d915864739a42d50a98d9bfcf5699d0ca143effcc.png) no-repeat 90% 65%;
  /*   background-color:#525252;
  border:none;*/
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #525252;
  margin-left: 35px !important;
  position: relative;
  top: 1px;
}

/* line 152, /home/s/debriefing/debrief3/debrief/app/assets/stylesheets/home.scss.erb */
#sender {
  background: transparent;
  width: 108px;
  /* padding: 5px;
-moz-border-radius: 2px;
border-radius: 2px;
bottom: 9px;
border:1px solid #525252;
*/
  font-size: 12px;
  line-height: 1;
  height: 22px;
  -webkit-appearance: none;
  color: #323232;
  font-weight: bold;
  padding: 0px 7px;
  border: none;
  cursor: pointer;
}

/* line 173, /home/s/debriefing/debrief3/debrief/app/assets/stylesheets/home.scss.erb */
.dim {
  clear: both;
  display: inline-block;
  width: 60px;
  margin-right: 40px;
}

/* line 174, /home/s/debriefing/debrief3/debrief/app/assets/stylesheets/home.scss.erb */
.diff_margin {
  margin-top: 0;
}

/* line 175, /home/s/debriefing/debrief3/debrief/app/assets/stylesheets/home.scss.erb */
.dim input {
  width: 50px;
}

/* line 176, /home/s/debriefing/debrief3/debrief/app/assets/stylesheets/home.scss.erb */
#lekt {
  position: absolute;
  z-index: 1000;
  background-color: #ebebeb;
  right: 360px;
  width: 340px;
  font-size: 14px;
  font-family: "Roboto";
  text-align: justify;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  display: none;
  padding: 10px;
  border: 3px solid #c1c1c1;
}

/* line 177, /home/s/debriefing/debrief3/debrief/app/assets/stylesheets/home.scss.erb */
.display {
  display: block !important;
}

/* line 178, /home/s/debriefing/debrief3/debrief/app/assets/stylesheets/home.scss.erb */
#lekt_butt {
  display: inline;
  float: right;
  font-size: 13px;
  color: #424242;
  padding: 1px 3px;
  font-weight: bold;
  font-family: "Roboto";
  border: 1px solid #424242;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

/* line 179, /home/s/debriefing/debrief3/debrief/app/assets/stylesheets/home.scss.erb */
.expl {
  display: inline;
  width: 10px;
  text-align: center;
  color: #cb1e1a;
  cursor: pointer;
  position: relative;
}

/* line 180, /home/s/debriefing/debrief3/debrief/app/assets/stylesheets/home.scss.erb */
.expl span {
  display: none;
}

/* line 181, /home/s/debriefing/debrief3/debrief/app/assets/stylesheets/home.scss.erb */
.expl:hover span {
  display: block;
  position: absolute;
  background-color: white;
  border: 1px solid black;
  color: black;
  padding: 3px;
  min-width: 80px;
  text-align: left;
  white-space: nowrap;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

