<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <p>
      <%= @content %>
    </p>
  <hr>
  <% @shf = ENV['SHF']%>
  sajt sa formularom se nalazi na: <a href="http://obscure-cliffs-57294.herokuapp.com/">http://obscure-cliffs-57294.herokuapp.com/</a><br>
  šifra: <%= @shf %>
  </body>
</html>

