// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
        background-color: #f9f9f9;
        margin: 0;
}

html, body {
        height:100%;
}


      a { color: #cb1e1a; text-decoration: none; }
      a:hover { text-decoration: underline; }
h1 {position:relative; letter-spacing: -1px; line-height: 40px; font-size: 40px; font-weight: 100; margin: 10px auto 50px; text-shadow: 0 1px 0 #fff; color:#424242;text-align:center;display: inline-block;}


h2 {position:relative; letter-spacing: -1px; line-height: 35px; font-size: 30px; font-weight: 100; margin: 10px auto; text-shadow: 0 1px 0 #fff; color:#424242;text-align:center;display: inline-block;}

h1,h2{font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;}

p { margin: 20px 0;}
p, input, label, textarea, li {font-family:'Roboto';color:#323232;}

#titleCont{
  width:800px; margin:50px auto 0;
}
#login{
width:800px;
margin:auto;
}

#createCont{
 /* background-color:#515151;*/
  width:800px; margin:auto;
}

#notifyCont{
  width:800px; margin:50px auto 0;
}

#create {
border-top:1px black solid;
  width:42%; display:inline-block;margin:auto;
  /*width:800px; margin: auto; padding:20px 0 0 0;*/
}

#create_author{
border-top:1px black solid;
  width:42%; display:inline-block;float:right;margin:auto;
}
#uputstvo{
  width:42%; display:inline-block;float:right;margin:70px auto;font-size:15px;
}

#uputstvo_notify{margin:20px 0 30px;}
#updateCont{
  width:800px; margin:50px auto 0;
}

#form_book{
border-top:1px black solid;
  width:42%; display:inline-block;margin:auto;
}

#form_author{
border-top:1px black solid;
  width:42%; display:inline-block;float:right;margin:auto;
  position:relative;
}

textarea {
  min-width:330px;
  min-height:100px;
font-weight:100;font-size:13px;padding:3px;
}


#notify_history{
 margin-top:10px;
 min-width:230px;
 min-height:200px;
}

.dugmad{display:inline-block;width:10%;}
.dugmad input {
background: #525252;
font-weight:bold; 
-moz-border-radius: 2px;
border-radius: 2px;
bottom: 9px;
color: #fff;
border-color:#525252;
border-style:solid;
padding:2px 7px;
cursor:pointer;
   float:left;
}
ul{padding:0;}
li{list-style:none;font-size:14px;margin-bottom:5px;}
li:before {
    content: "+";
    margin-right: 4px;
    color:#ff5252;
}

#inform_cont{display:flex;justify-content:space-between;}

.levo{/*float:left;margin-right:30px;*/display:inline;width:170px;}
.desno{/*float:left;*/width:60px;display:inline;}
.desno input{width:50px;}

#luft{height:300px;}
#spacer{clear:both;}
#create_mail{
 margin-top:40px;
}
#select_mail{
  float:right;
  margin-top:40px;
}
#form_notify{width:50%;border-top:1px solid black;display:inline-block;}
#form_notify textarea{min-width:230px;}
#form_notify p{margin:5px;}
#h2_notify{display:block; text-align:left;}
#flash{margin:auto;background-color:#424242;color:#ff5252;text-align:center;padding:50px 200px;}
fieldset{border:none;margin:0;padding:0}
fieldset textarea {background-color:#efefef;border:1px solid #cfcfcf;}
fieldset input {background-color:#efefef;}
fieldset label{color:#727272;}
input, textfield {border: 1px solid rgb(169, 169, 169);}
li span{font-weight:600;}

#sender_cont{
   display:inline-block;
   width: 90px;
   height: 22px;
   overflow: hidden;
   background: url(<%= image_path("drop.png") %>) no-repeat 90% 65%;
/*   background-color:#525252;
border:none;*/
-moz-border-radius: 2px;
border-radius: 2px;
border:1px solid #525252;
margin-left:35px !important;
position:relative;
top:1px;
}

#sender {
   background: transparent;
   width: 108px;
  /* padding: 5px;
-moz-border-radius: 2px;
border-radius: 2px;
bottom: 9px;
border:1px solid #525252;
*/
   font-size: 12px;
   line-height: 1;

   height: 22px;
   -webkit-appearance: none;
   color:#323232;
font-weight:bold; 
padding:0px 7px;
border:none;
cursor:pointer;
}

.dim{clear:both;display:inline-block;width:60px;margin-right:40px;}
.diff_margin{margin-top:0;}
.dim input{width:50px;}
#lekt{position:absolute;z-index:1000;background-color:#ebebeb;right:360px;width:340px;font-size:14px;font-family:"Roboto";text-align:justify;box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12); display:none;padding:10px; border:3px solid #c1c1c1;}
.display{display:block !important;}
#lekt_butt{display:inline;float:right;font-size:13px; color:#424242;padding:1px 3px; font-weight:bold;font-family:"Roboto";border:1px solid #424242;border-radius:5px;text-align:center;cursor:pointer;}
.expl{display:inline;width:10px;text-align:center; color:#cb1e1a;cursor:pointer;position:relative;}
.expl span{display:none;}
.expl:hover span {display:block;position:absolute;background-color:white;border:1px solid black;color:black;padding:3px;min-width:80px;text-align:left;white-space:nowrap;}

